spring:
  application:
    name: "configserver"
  profiles:
    active: git
  cloud:
    config:
      server:
        #native:
          #search-locations: "optional:classpath:/config"
          #search-locations: "file:///C:/Users/Ramya/Documents/workspace-sts-Spring/Microservices/filesystemconfig"
        git:
          uri: "https://github.com/ramya0620/vedgetbank-config.git"
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"
management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    liveness-state:
      enabled: true
    readiness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
server:
  port: 8071
#encrypt:
  #key: "45D81EC1EF61DF9AD8D3E5BB397F9"



